<div class="resumeContainer font-mono p-6 rounded mx-auto">
    <h1 id="name" class="text-3xl font-semibold mb-2"></h1>
    <p id="location" class="text-sm mb-2"></p>
    <p id="email" class="text-sm mb-2"></p>
    <p id="phone" class="text-sm mb-2"></p>
    <a id="website" class="text-sm text-blue-500 mb-4"></a>
    <p id="summary" class="mb-4"></p>
    <h2 class="text-2xl font-semibold mb-2">Core Skills</h2>
    <div id="coreSkills" class="mb-4">
        <ul>
            <li class="text-sm mb-1"></li>
        </ul>
    </div>
    <h2 class="text-2xl font-semibold mb-2">Languages</h2>
    <div id="languages" class="mb-4">
        <ul>
            <li class="text-sm mb-1"></li>
        </ul>
    </div>
    <h2 class="text-2xl font-semibold mb-2">Experience</h2>
    <div id="experience">
        <div id="experienceElement" class="flex flex-col md:flex-row">
            <img id="companyLogo" class="w-12 h-12 mb-2 md:mb-0 md:mr-4" src="" alt="company logo">
            <div class="md:flex-1">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 id="companyName" class="font-medium mb-1"></h3>
                        <h3 id="jobTitle" class="text-sm mb-1"></h3>
                    </div>
                    <div>
                        <p id="jobDate" class="text-xs mb-1"></p>
                        <p id="jobLocation" class="text-xs mb-1"></p>
                    </div>
                </div>

                <div class="relative mb-8">
                    <!-- <div class="ticker flex"> -->
                    <div class="overflow-x-hidden w-max absolute h-8">
                            <ul id="jobTechStack" class="ticker__list">
                            <li class="text-sm mb-1 mr-1 whitespace-nowrap box-border pr-3 mt-1 rounded">
                                <img class="w-4 h-4 inline-block mr-0.5 ml-1 mb-0.5" src="" alt="#">
                                <span class="inline-block"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mb-8">
                    <h4 class="text-sm font-semibold mb-1">Description</h4>
                    <p id="jobDescription" class="text-sm mb-1 break-all"></p>
                </div>

                <div class="mb-8">
                    <h4 class="text-sm font-semibold mb-1">Responsibilities</h4>
                    <ul id="jobResponsibilities" class="break-all">
                        <li class="text-sm mb-1"></li>
                    </ul>
                </div>
                <div id="achievements" class="mb-8">
                    <h4 class="text-sm font-semibold mb-1">Achievements</h4>
                    <ul id="jobAchievements" class="break-all">
                        <li class="text-sm mb-1"></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="black my-4">
    </div>
    
</div>
